<div class="app_contain">
  <div class="container">
    <form>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">题目内容</label>
        <div class="col-sm-10">
          <textarea name="name" rows="8" cols="80" class="form-control" id="inputEmail3"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <label for="lgFormGroupInput" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
        <div class="col-sm-3 js-option-gruop">
          <input type="email" class="form-control form-control-lg" id="lgFormGroupInput" placeholder="you@example.com">
          <span class="js-to-add-option"> <%= link_to "添加", '#' %> </span>
        </div>
      </div>

      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button type="submit" class="btn btn-primary">确定</button>
        </div>
      </div>

    </form>
  </div>
</div>
