<!DOCTYPE html>
<html>
  <head>
    <title>As</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'thiny', media: 'all' %>
    <%= javascript_include_tag 'thiny' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
